<div class="container">
    <div class="row row_space_top">
        <div class="side">

            <div>
                <%= image_tag('no_photo', :alt => "Image of game") %>
            </div>

            <div class="info">
                <h1><%= @mod.title %></h1> 
                <% if user_signed_in? %>
                    <%= link_to 'Back', course_path(@mod.course_id) %> | <%= link_to 'Edit', edit_course_course_module_path %>
                <% else %>
                    <%= link_to 'Back', root_path %>
                <% end %> 
                <p><%= @mod.description %></p>
            </div>

        </div>
        
        <div class="list">
            <%= render 'section' %>
        </div>
   

    </div>
</div>