<div class="row row_space_top">

    <h1> Edit the glossary item: <%= @item.title %></h1>

    <%= form_for( @item ) do |f| %>
      
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      
        <%= f.label :definition %>
        <%= f.text_area :definition, class: 'form-control' %>

        <%= f.label :category %>
        <%= f.collection_select :glossary_category_id, GlossaryCategory.order(:name), :id, :name, {include_blank: true}, {class: 'form-control'} %>

        <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>

</div>
