<div class="project">
    <%= link_to 'back', projects_path %>
    <div>
        Name: <code><%= @project.course.name %></code>
    </div>
    <div>
        Semester: <code><%= @project.semester.season %>  <%= @project.semester.year %></code>
    </div>
     <div>
        Seats: <code><%= @students.count %></code>
    </div>
    <div>
        Teacher: <code><%= @teacher.user.name %> | <%= @teacher.user.email %></code>
    </div>
    <br/>
    <div class="title">Students</div>
    <table class="table table-striped table-bordered">
    
        <thead>
            <td>#</td>
            <td>Name</td>
            <td>Email</td>
        </thead>

        <% @students.each_with_index do |student, i| %>
            <tr>
                <td><%= i %></td>
                <td><%= student.user.name %></td>
                <td><%= student.user.email %></td>
            </tr>
        <% end %>

    </table>
</div>