<div class="container">
    <div class="row row_space_top">
        <div class="side">

            <div>
                <%= image_tag(@course.main_video_id, :alt => "Image of game") %>
            </div>

            <div class="info">
                <h1><%= @course.name %></h1> 
                <% if user_signed_in? %>
                    <%= link_to 'Back', root_path %> | <%= link_to 'Edit', edit_course_path %>
                <% else %>
                    <%= link_to 'Back', root_path %>
                <% end %>
                <p><%= @course.description %></p>
                
            </div>

        </div>

        <div class="list">
            <%= render 'module' %>
        </div>

    </div>
</div>
