<div class="container">
    <div class="row row_space_top">
        <div class="course">

            <div>
                <%= image_tag(@course.main_video_id, :alt => "Image of game") %>
              
            </div>

            <div class="course_info">
                <h1><%= @course.name %></h1> 
                <%= link_to 'Back', root_path %> |
                <%= link_to 'Edit', edit_course_path %>
                <p><%= @course.description %></p>
                
            </div>

        </div>
    </div>
</div>
