<!DOCTYPE html>
<html>
  <head>
    <title>ClassesApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Live Oak Portal", root_path, id: "logo", class: 'navbar-brand' %></li>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </nav>
      </div>
    </header>

    
    <% puts notice.to_s %>
      <!--<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>-->

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>

</html>
